node_modules/
.env
dist/
*.log
.DS_Store
.idea/
.vscode/
dashboard/node_modules/
FlashscoreScraping/node_modules/
dashboard/dist/
__pycache__/
*.pyc
pingo_doce_osm.json
matches_with_stores.json
stadiums.json
pingo_doce_lojas.json
lojasPingoDoce
response.pt
individual_stores/
pingo_doce_lojas/
